run_tests
*.o
*.lo
*.la
*.mod
.cproject
.project
.spyproject
*.so
*.a
*.x
aceto/*.so*
build
__pycache__
dist
aceto.egg*
tests/*.png
autom4te.cache
Makefile
Makefile.in
configure
aclocal.m4
config.log
config.status
libtool
.deps


